/* 전체 레이아웃 */
.app-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* 뒤로가기 버튼 */
.profile-back-btn {
  cursor: pointer;
  border: none;
  font-size: 14px;
  background: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile-back-icon {
  margin-right: 5px;
  font-size: 18px;
}

/* 컨테이너 */
.profile-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 40px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 */
.profile-header {
  text-align: center;
}

.profile-header p {
  color: grey;
  margin-top: 4px;
}

/* 폼 */
.profile-form {
  width: 100%;
}

/* 입력 그룹 */
.profile-input-group {
  margin-bottom: 20px;
}

.profile-input-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-input-wrapper .profile-icon {
  position: absolute;
  left: 16px;
  color: #dfe0df;
  transition: color 0.2s ease-in-out;
}

.profile-input-wrapper input {
  width: 100%;
  padding: 14px 14px 14px 45px;
  border: 2px solid #dfe0df;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

.profile-input-wrapper:focus-within input {
  outline: none;
  border: 2px solid #fac608;
}

.profile-input-wrapper:focus-within .profile-icon {
  color: #fac608;
}

.profile-input-wrapper.has-error input {
  border-color: #c0564b;
}

.profile-error-message {
  color: #c0564b;
  font-size: 13px;
  margin-top: 6px;
  margin-left: 4px;
}

/* 비밀번호 표시 토글 버튼 */
.profile-password-toggle-btn {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4e4637;
  font-size: 20px;
  display: flex;
  align-items: center;
}

/* 옵션 */
.profile-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.profile-checkbox-label {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.profile-checkbox-label input {
  width: 15px;
  height: 25px;
}

.profile-checkbox-label input:checked {
  accent-color: #fac608;
}

/* 버튼 */
.profile-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: #fac608;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profile-btn:hover {
  background-color: #ffbf51;
}

/* 회원정보 페이지 링크 */
.profile-link {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
  color: #333;
}

.profile-link p {
  margin: 0;
}

.profile-link-to {
  font-weight: bold;
  text-decoration: none;
}

.profile-link-to:hover {
  text-decoration: underline;
}