/* 고정 헤더 */
.app-header {
    position: fixed;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
}

.header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 2rem;
}

.logo-text {
    font-family: "Black Han Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 113px;
    color: #888;
    font-size: 1.4rem;
}

.search-bar {
    padding: 10px 12px;
    padding-left: 45px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    background-color: #f3f3f5;
    width: 400px;
}

.nav-button {
    background: none;
    border: none;
    padding: 8px 16px;
    margin-right: 15px;
    cursor: pointer;
}

.signup {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.sell-button {
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}