/* 메인 컬러 #fac608 */

/* 헤더 위치 고정 */
.app-header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #e9ecef;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

/* 로고 */
.header-left {
  flex-shrink: 0;
  padding-right: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-icon {
  font-size: 48px;
  color: #F7B801;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo-container:hover .logo-icon {
  transform: scale(1.2) rotate(-15deg);
}

.logo-text {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin: 0;
}

/* 검색창 */
.search-container {
  position: relative;
  width: 450px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #ffbf51;
}

.search-input {
  width: 100%;
  padding: 10px 35px;
  font-size: 1rem;
  border: 2px solid #fac608;
  border-radius: 10px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
}

/* 버튼 구역 */
.header-login-btn,
.header-signup-btn,
.header-sell-btn,
.header-login-icon,
.header-signup-icon {
  padding: 8px 20px;
  border-radius: 10px;
  
}

.header-signup-btn {
  border: 1px solid #dfe0df;
}

.header-sell-btn {
  background-color: #fac608;
  border: 1px solid #fac608;
  font-weight: bold;
}

.header-login-btn, .header-signup-btn {
  margin-right: 10px;
}

.btn-container-media {
  display: none;
}

.header-login-icon, .header-sell-icon {
  font-size: 20px;
  font-weight: bold;
}

.header-sell-icon {
  background-color: #fac608;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

@media (max-width: 880px) {
  .btn-container-full {
    display: none;
  }
  .btn-container-media {
    display: flex;
  }
}