.app-login, .app-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.back-btn {
  cursor: pointer;
  border: none;
  font-size: 14px;
  background: none;
  margin-bottom: 10px;
}

.back-icon {
  margin-right: 10px;
}

.login-container, .signup-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header, .signup-header {
  text-align: center;
}

.login-header p, .signup-header p {
  color: grey;
}

.login-form, .signup-form {
  width: 100%;
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.login-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.login-input-wrapper .email-icon, .password-icon {
  position: absolute;
  left: 16px;
  color: #dfe0df;
  transition: color 0.2s ease-in-out;
}

.login-input-wrapper input {
  width: 100%;
  padding: 14px 14px 14px 45px;
  border: 2px solid #dfe0df;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

.login-input-wrapper:focus-within input {
  outline: none;
  border: 2px solid #fac608;
}

.login-input-wrapper:focus-within .email-icon,
.login-input-wrapper:focus-within .password-icon {
  color: #fac608;
}

.login-input-wrapper.has-error input {
  border-color: #c0564b;
}

.error-message {
  color: #c0564b;
  font-size: 13px;
  margin-top: 6px;
  margin-left: 4px;
}

.password-toggle-btn {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4e4637;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.login-option, .terms-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.auto-login-label, .terms-label {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.auto-login-label input, .terms-label input {
  width: 15px;
  height: 25px;
}

.auto-login-label input:checked, .terms-label input:checked {
  accent-color: #fac608;
}

.find-password-link:hover, .signup-link-to:hover {
  text-decoration: underline;
}

.login-btn, .signup-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: #fac608;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-btn:hover {
  background-color: #ffbf51;
}

.divider {
  display: flex;
  align-items: center;
  color: #333;
  margin: 30px 0;
  width: 100%;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #e9ecef;
}

.divider span {
  padding: 0 15px;
  font-size: 14px;
  color: #333;
}

.social-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-btn-icon {
  font-size: 20px;
}

.social-btn.kakao {
  background-color: #fae100;
}

.social-btn.kakao:hover {
    background-color: #fdd835;
}

.social-btn.google {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  color: #333333;
}

.social-btn.google:hover {
  background-color: #F7F7F7; /* 마우스를 올렸을 때 살짝 어두워지는 효과 */
}

.signup-link, .login-link {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
  color: #333;
}

.signup-link p, .login-link p{
  margin: 0;
}

.signup-link-to, .login-link-to {
  font-weight: bold;
}